html, body /*, div#page_content*/ {
    margin: 0;
	height: 100%;
	width: 100%;
	font-family: Calibri;
	color: #565656;
	font-size: 16px !important;
}

body{
	direction: rtl;
	background: #5ab7e5;
}

div.menu{
	width: 49%;
	margin-bottom: 5%;
	display: inline-block;
	cursor: pointer;
}

.red{
	background-color: red;
}

.green{
	background-color: green;
}

.blue{
	background-color: blue;
}

.yellow{
	background-color: yellow;
}

#tasks_wrapper{
	direction: ltr !important;
}

.task{
	background: white;
	color: #5cb85c;
	font-size: 36px;
	line-height: 100px;
	margin: 10px;
	padding: 2%;
	position: relative;
	text-align: center;
	border-radius: 20px;
}

.task_nav{
	background: white;
	color: #3498db;
	font-size: 16px;
	margin: 10px; 
	padding: 1%;
	text-align: center;
	border-radius: 20px;
}

.hide{
	display: none;
}
/*
div#page_content{
	display: table;
}

form#loginForm{
	margin: auto;
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
*/
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

div#page_content{
    margin-left: auto;
    margin-right: auto; 
	width: 45%;
	
}

div#page_content.home{
	margin-left: auto;
    margin-right: auto; 
	width: 100%;
}

form{
	padding: 10px;
	background: white;
	border-radius: 20px;
}

form legend{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

form ul{
	padding: 0;
}

form ul li{
	margin-bottom: 10px;
}

form ul li label{
	display: inline-block;
	width: 20%;
	vertical-align: middle;
}

form input[type="text"], form textarea, input[type="password"] {
	background: #fbfbfb;
    color: #000;
	border: 1px solid #cecece;
	border-radius: 3px;
	font-family: inherit;
	font-size: 16px;
	height: 50px;
	outline: none;
	width: 70%;
  -webkit-appearance:none;
}

form #login_button {
	height: 50px;
	width: 70%;
	font-size: 20px;
}

li {list-style-type: none;}

div#loginError, div#faqError{
	color: red;
	text-align: center;
	font-weight: bold;
}

img#toggle_img{
	position: fixed;
	left: 10px; 
	top: 0;
	width: 60px;
	height: 60px;
	z-index: 9;
	background-color: white;
	transition: all 0.5s ease-in-out;
}

img#toggle_img.flipped{
	transform: rotateX(180deg);
}

div#sidebar{
	position: fixed; 
	display: inline-block; 
	top: 0px; 
	height: 100%; 
	width: 200px; 
	left: -200px; 
	background-color: #5a6065; 
	border: 1px solid #5a6065;
	z-index: 9;
	transition: all 0.5s ease-in-out;
}

div#loader_container{
	position: fixed;
	background-color: white;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 9;
}

img#loader{
	position: relative;
	display: table-cell;
	margin: auto;
	top: 40%;
}

div#sidebar div{
	height: 25%;
    background-color: white;
    text-align: center;
	margin-bottom: 1%;
	line-height: 180px;
	border: 1px solid #f9f9f9;
}

div#sidebar div span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #449d44;
}

img#site_image{
	height: 100%;
	width: 100%;
}

div#stations button.station{
    display: block;
    width: 80%;
	padding: 2%;
	margin: auto;
    margin-bottom: 2%;
	margin-top: 2%;
	border-radius: 20px;
}

div.vertical_line{
	display: block;
    height: 100px;
    border-left: 5px dashed #fff;
    width: 50%;
}

div#current_station h2{
	position: relative; 
    top: -20px; 
    text-align: center;
    background-color: #f9f9f9;
    padding: 2%;
    color: #565656;
}

.slick-track{
	float: right;
}

.slick-slide{
	padding: 2%;
	float: right;
}

.tasks_wrapper .slick-slide{
	padding: 0% 2% 2% 2%;
}

.task_img{
	width: 50%;
	display: inline-block;
	float: left;
}

.task_description{
	width: 40%;
	display: inline-block;
	float: right;
	color: #565656;
    font-size: 16px;
}

#site_title{
	text-align: center;
    background: white;
    padding: 1%;
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
}

#site_description{
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

#site_img_wrapper{
	display: inline-block;
	width: 59%;
}

#site_data_wrapper{
	width: 80%;
	padding: 1%;
	margin: auto;
	margin-bottom: 5%;
	border-radius: 20px;
	background-color: white;
}

#startScanning{
	margin: auto;
    display: block;
    width: 30%;
    line-height: 6;
	font-size: 40px;
	margin-top: 19%;
}

#go_to_stations{
	display: block;
	margin: auto;
	margin-top: 2%;
}

#tasks_nav .slick-current{
	background-color: #5cb85c;
	color: white;
}
/* 
#site_wrapper{
	margin-top: 10%;
} */

#faq_text_wrapper{
	background-color: white;
    height: 400px;
    border-radius: 20px;
	padding: 3%;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  /* font-size : 1em; */
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  /* font-size   : 0.875em; */
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.question_wrapper{
	display: inline-block;
	margin-left: 10px;
}

#next_station, #finish_site{
	font-size: 40px;
    width: 50%;
	line-height: 5;
	border-radius: 20px;
}

#faq_text_wrapper button.btn , #faq_form button.btn{
	margin-right: 38%;
	width: 25%;
	padding: 2%;
	font-size: 16px;
}

#faq_text_wrapper button.btn{
	margin-top: 3%;
}

#fireworks {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}