html, body /*, div#page_content*/ {
    margin: 0;
	height: 100%;
	width: 100%;
	font-family: Calibri;
	color: #bdb9b9;
}

body{
	direction: rtl;
	background: #3db39d;
}

div.menu{
	width: 49%;
	margin-bottom: 5%;
	display: inline-block;
	cursor: pointer;
}

.red{
	background-color: red;
}

.green{
	background-color: green;
}

.blue{
	background-color: blue;
}

.yellow{
	background-color: yellow;
}

#tasks_wrapper{
	direction: ltr !important;
}

.task{
	background: #000;
	color: #3498db;
	font-size: 36px;
	line-height: 100px;
	margin: 10px;
	padding: 2%;
	position: relative;
	text-align: center;
}

.task_nav{
	background: #000;
	color: #3498db;
	font-size: 15px;
	/* line-height: 50px; */
	margin: 10px; 
	padding: 1%;
	/* position: relative; */
	text-align: center;
}

.hide{
	display: none;
}
/*
div#page_content{
	display: table;
}

form#loginForm{
	margin: auto;
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
*/
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

div#page_content{
    margin-left: auto;
    margin-right: auto; 
	width: 45%;
	
}

div#page_content.home{
	margin-left: auto;
    margin-right: auto; 
	width: 70%;
}

form{
	padding: 10px;
	background: white;
	border-radius: 10px;
}

form legend{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

form ul{
	padding: 0;
}

form ul li{
	margin-bottom: 10px;
}

form ul li label{
	display: inline-block;
	width: 20%;
}

form input[type="text"], input[type="password"] {
	background: #e5e5e5;
	border: none;
	border-radius: 3px;
	color: #5a5656;
	font-family: inherit;
	font-size: 17px;
	height: 50px;
	outline: none;
	/* padding: 0px 10px; */
	width: 70%;
  -webkit-appearance:none;
}

form input[type="submit"] {
	background-color: #3db39d;
	border: none;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	height: 50px;
	text-transform: uppercase;
	width: 74%;
	font-size: 20px;
  -webkit-appearance:none;
}

li {list-style-type: none;}

div#loginError{
	color: red;
	text-align: center;
	font-weight: bold;
}

img#toggle_img{
	position: fixed;
	left: 10px; 
	top: 0px;
	width: 50px;
	height: 50px;
	transition: all 0.5s ease-in-out;
}

div#sidebar{
	position: fixed; 
	display: inline-block; 
	top: 0px; 
	height: 100%; 
	width: 200px; 
	left: -200px; 
	background-color: black; 
	transition: all 0.5s ease-in-out;
}

div#loader_container{
	position: fixed;
	background-color: white;
	height: 100%;
	width: 100%;
	z-index: 9;
}

img#loader{
	position: relative;
	display: table-cell;
	margin: auto;
	top: 40%;
}

div#sidebar div{
	height: 25%;
    background-color: #363636;
    text-align: center;
	margin-bottom: 1%;
	line-height: 180px;
}

div#sidebar div span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #bdb9b9;
}

img#site_image{
	height: 100%;
	width: 100%;
}

div#stations button.station{
	background-color: #272727;
    border-color: #4e4e4e;
    display: block;
    width: 100%;
    margin: 2%;
    padding: 2%;
}